.listContainer
    div.closeButtonParent.noOverflow( (click)="toggle()" ) {{ (isExpanded? "▼": "▲") + videoList.name}}
        button.btn.badge( (click)="onRemove()") X

    ul.yap-video-list
        li( *ngFor="let x of videoList.videos" )
            yap-item( [data]="x" )