.listContainer
    div.closeButtonParent.noOverflow( (click)="toggle()", [style.font-size.px]="preferenceService.preference.fontSize", [style.color]="preferenceService.preference.fontColor" ) {{ (isExpanded? "▼": "▲") + videoList.name}}
        button.btn.badge( (click)="onRemove()") X

    ul.yap-video-list
        li( *ngFor="let x of videoList.videos" )
            yap-item( [data]="x" )