body {
    background-color: black;
}

#player {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#playList {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 80%);
    /*  Hide  */
    visibility: false;
    opacity: 0;
    transform: translateX(300px);
    transition: visibility 0s .12s linear, opacity .12s ease-in, transform .12s ease-in;
}

#playList.isShown {
    visibility: true;
    opacity: 1;
    transform: translateX(0px);
    transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}