body {
    background-color: black;
    overflow: hidden;
}

#player,
#setting {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: transform .40s ease;
}

#player.isHidden {
    transform: translateY(100%);
    transition: transform .40s ease;
}

#setting {
    transform: translateY(-100%);
    transition: transform .40s ease;
}

#setting.isShown {
    transform: translateY(0%);
    transition: transform .40s ease;
}

#rootList {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
    height: 100%;
    background-color: rgba(199, 175, 190, 0.79);
    -webkit-user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
    /*  Hide  */
    pointer-events: none;
    opacity: 0;
    transform: translateX(300px);
    transition: visibility 0s .12s linear, opacity .12s ease-in, transform .12s ease-in;
}

#rootList.isShown {
    pointer-events: inherit;
    opacity: 1;
    transform: translateX(0px);
    transition: visibility 0s 0s linear, opacity .36s ease-out, transform .36s ease-out;
}

#rootList ul {
    position: relative;
}

#handler_vertical {
    z-index: 200;
    width: 8px;
    height: 100%;
    padding: 5px 0;
    cursor: col-resize;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -4px;
    background-color: cadetblue;
}

.yap-video {
    position: relative;
    transition: transform .36s ease-in-out;
}

.yap-video>a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    border-width: 4px;
    border-color: blueviolet;
    cursor: pointer;
}

.yap-video:hover,
.listContainer> .closeButtonParent:hover {
    transform: translateX(-20px);
    transition: transform .12s ease-in-out;
}

.closeButtonParent:hover> button {
    opacity: 1;
    transition: opacity 0.12s ease-in-out;
}

.closeButtonParent>button {
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translateX(20px);
    vertical-align: middle;
    transition: opacity 0.36s ease-in-out;
}

.noOverflow {
    overflow-x: hidden;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    transition: all 0.36s ease-in-out;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(71, 144, 208, 0.5);
    /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);*/
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(71, 144, 208, 0.9);
    box-shadow: inset 0 0 6px rgba(100, 164, 228, 0.8);
    transition: all 0.36s ease-in-out;
}

/*
::-webkit-scrollbar-thumb:window-inactive {
    background: #FF0000;
    transition: all 0.36s ease-in-out;
}*/


/* hide buffing status */

.wcp-status {
    display: node;
    visibility: hidden;
    pointer-events: none;
}